# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka1:9092,kafka2:9092,kafka3:9092
KAFKA_SECURITY_PROTOCOL=SASL_SSL
KAFKA_SASL_MECHANISM=SCRAM-SHA-512

# SSL
KAFKA_SSL_TRUSTSTORE=/etc/kafka/secrets/kafka.truststore.pem
KAFKA_SSL_KEYSTORE=/etc/kafka/secrets/kafka.keystore.pem

# Пользователи
SHOP_USERNAME=shop
SHOP_PASSWORD=shop123
CLIENT_USERNAME=client
CLIENT_PASSWORD=client456
PROCESSOR_USERNAME=processor
PROCESSOR_PASSWORD=processor789
ANALYTICS_USERNAME=analytics
ANALYTICS_PASSWORD=analytics321
ADMIN_USERNAME=admin
ADMIN_PASSWORD=uosieQu6ACie0eichoo5ohdeeWaepowa

# Elasticsearch
ELASTICSEARCH_HOST=localhost:9200

# HDFS
HDFS_URL=hdfs://namenode:9000
HDFS_PATH=/data/products

# Spark
SPARK_APP_NAME=MarketplaceAnalytics
SPARK_MASTER=local[*]

# Prometheus
PROMETHEUS_PORT=9090

# Grafana
GRAFANA_URL=http://localhost:3000